# Copy this file to .env.development, .env.test, or .env.production and configure

NODE_ENV=development
MONGODB_HOST=mongodb://localhost:27017
DB_NAME=lesson-scheduler-dev
PORT=5000

# For test (.env.test):
# NODE_ENV=test
# MONGODB_HOST=mongodb://localhost:27017
# DB_NAME=lesson-scheduler-test
# PORT=5001

# For production (.env.production):
# NODE_ENV=production
# MONGODB_HOST=mongodb://localhost:27017
# DB_NAME=lesson-scheduler
# PORT=5000
